<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">  
  <!-- 添加属性文件搜索路径 -->  
  <context:property-placeholder location="classpath:frame/db-config.properties"/>  
  <!-- 配置数据库连接池 -->  
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"> 
    <property name="driverClass" value="${db.driverClass}"/>  
    <property name="jdbcUrl" value="${db.url}"/>  
    <property name="user" value="${db.username}"/>  
    <property name="password" value="${db.password}"/> 
  </bean>  
  <!-- 配置SessionFactory, 使用Hibernate3.6的LocalSessionFactoryBean -->  
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> 
    <!-- 注入hibernate的配置文件 ：hibernate.cfg.xml
		<property name="configLocation" value="classpath:spring/hibernate.cfg.xml"/>
		-->  
    <property name="configLocations"> 
      <array> 
        <value>classpath:frame/hibernate.cfg.xml</value>  
        <value>classpath:poj/hibernate.cfg-poj.xml</value>  
        <value>classpath:base/hibernate.cfg-base.xml</value> 
      </array> 
    </property>  
    <!-- 注入DataSource -->  
    <property name="dataSource" ref="dataSource"/> 
  </bean>  
  <!-- 配置Spring事务管理器 -->  
  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"> 
    <!-- 注入sessionFactory，表明要受到Spring的进行事务管理的SessionFactory -->  
    <property name="sessionFactory" ref="sessionFactory"/> 
  </bean>  
  <!-- 启用Annotation事务处理 ,并指定使用的事务管理器 -->  
  <tx:annotation-driven transaction-manager="transactionManager"/> 
</beans>
